

<div class="text-center">
    <h1 class="display-4">Congratulations...!!!</h1>
    <p>Your account is activate. Please proceed for login. <a target="_blank" href="http://localhost:4200/">Login</a>.</p>
</div>

